{% extends 'template.html.twig' %}

{% block body %}
    <h3>Checkouts</h3>
    {% for patron in patrons %}
        <li><a href="">{{patron[0].getPatronName}}</a></li>
    {% endfor %}
{% endblock %}
