{% extends 'template.html.twig' %}

{% block body %}
    <h2>Welcome Patron</h2>

    <form class="" action="/patron_login" method="post">
        <div class="form-group-row">
            <label for="login">Please enter your name:</label>
            <input type="button" name="login" value="">
        </div>
    </form>
{% endblock %}
