<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
            {% block control %}{% endblock %}
            <br><br><br>
            <p><a href="/">Home</a></p>
        </div>
    </body>
</html>
